<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests; default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' https://cdnjs.cloudflare.com https://fonts.googleapis.com 'unsafe-inline'; font-src 'self' https://cdnjs.cloudflare.com https://fonts.gstatic.com; img-src 'self' data: https:; connect-src 'self' https://ymessage-hack.onrender.com wss://ymessage-hack.onrender.com https://cdnjs.cloudflare.com;">
    <title>Ymessage Chat</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/hackmain.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
