{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
    <div class="auth-logo-column">
        <img src="{{ url_for('static', filename='images/ynovlogo.jpg') }}" alt="Ynov Logo">
    </div>
    <div class="auth-form-column">
        <div class="auth-form">
            <form method="post">
                <h3>Connexion</h3>
                <div>
                    <label for="username">Nom d'utilisateur</label>
                    <input name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit">Se connecter</button>
            </form>
            <p>Vous n'avez pas de compte ? <a href="{{ url_for('register') }}">S'inscrire</a></p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
